<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IOhMapper">

	<!-- 게시판 리스트 쿼리 -->
	<select id="getOhList" resultType="OhDTO">
	SELECT * FROM DUAL
	</select>
	
<!-- ================================ 로그인 =========================================================== -->

<select id="checklogin" parameterType="OhDTO" resultType="OhDTO">
SELECT *
FROM OH1_INFO
WHERE OH_ID= #{oh_id} AND OH_PWD= #{oh_pwd}
</select>

<!-- ================================ 회원가입 =========================================================== -->

<insert id="checkregister" parameterType="OhDTO">
INSERT INTO OH1_INFO(
OH_ID,
OH_PWD,
OH_NAME
)VALUES(
#{oh_id},
#{oh_pwd},
#{oh_name}
)
</insert>

<!-- ================================ 회원가입 아이디 중복 확인 =========================================================== -->
	
<select id="checkID" parameterType="OhDTO" resultType="OhDTO">
SELECT * FROM OH1_INFO
WHERE OH_ID = #{oh_id}
</select>	

<!-- ================================ 비밀번호변경 =========================================================== -->

<update id="updatepwd" parameterType="OhDTO">
UPDATE OH1_INFO
SET OH_PWD = #{oh_pwd}
WHERE OH_ID = #{oh_id}
</update>

<!-- ================================ 끝 =========================================================== -->

</mapper>